.card__like-button {
  width: 22px;
  height: 19px;
  padding: 0;
  margin: 30px 20px 0 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.3s linear;
  background-image: url(../../../images/like.svg);
}

.card__likeButton:hover {
  opacity: 0.5;
}
