.popup__closeButton {
  position: absolute;
  top: -26px;
  right: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url(../../../images/popup__closeButton.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1280px) {
  .popup__closeButton {
    background-image: url(../../../images/Close-Icon.png);
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
  }
}
