.header {
    max-width: 320px;
    width: 100%;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    padding: 28px 0 26.6px 0;
}

@media screen and (min-width: 1280px) {
    .header {
        max-width: 880px;
        margin: 0 auto;
        padding: 44px 0px 36px 0px;

    }
}